/* Colores de Group Ravens */
:root {
    --ravens-gold: #eab308; /* Yellow-500 */
    --ravens-black: #09090b; /* Zinc-950 */
    --ravens-gray: #27272a; /* Zinc-800 */
}

body {
    background-color: var(--ravens-black);
}

#reader {
    border: none !important;
}

/* El recuadro del scanner de la librería */
#reader__scan_region {
    background: #000;
}

/* Botones de la librería (Ocultar para usar los nuestros) */
#reader button {
    display: none;
}

/* Efecto de escaneo */
#reader video {
    filter: grayscale(0.2) contrast(1.1);
}

/* Estilo para los Toasts */
#toast {
    z-index: 100;
    transition: all 0.3s ease;
    border: 1px solid rgba(255,255,255,0.1);
}
